a{
    color: greenyellow;
    text-decoration: none;
    background-color: black;
    padding: 5px 25px;
    border-radius: 25px;
    border: 3px greenyellow solid;
}

a:hover{
    color: black;
    background-color: greenyellow;
    border: 3px greenyellow solid;
}